.main {
  min-height: 100vh;
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccdff5ea;
}

.input {
  width: 100%;
  height: 2em;
  color: #a6a6a6;
  background-color: #f8f8f8;
  border: solid 2px #a6a6a6;
  border-radius: 100px;
  text-align: center;
  font-size: 1em;
}

.main > div {
  padding-left: 15em;
  padding-right: 15em;
}

.inputCont {
  width: 100vw;
  display: flex;
  justify-content: center;
  /* border: 1px solid red */
}

.infoCont {
  width: 100vw;
  padding-top: 0.5em;
  flex: 1;
  justify-content: left;
}

.infoSection > div {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 20px;
}

.label {
  font-weight: bold;
  color: #3475dd;
}

.error {color: red;}

.name {
  font-size: 3em;
  font-weight: bold;
  color: #3475dd;
}

